header {
    height: 10vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

header h1 {
    margin: auto;
    font-size: xx-large;
}

nav {
    height: 5vh;
    background-color: lightpink;
    display: flex;
    justify-content: space-around;
}

.nav_menu {
    width: 50px;
    height: 5vh;
    box-shadow: 0 0 0 1px #000 inset;  /*inner border*/
    margin: 0 auto;
}

main {
    height: 80vh;
    background-color: lightyellow;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}

footer {
    height: 10vh;
    background: lightgray;
    display: flex;
    justify-content: center;
}

footer * {
    margin: auto;
}

#game_popup_container {
    display: block;
    position: absolute;
    width: 60vw;
    height: 35vh;
    top: 30vh;
    text-align: center;
}



#popup_title {
    position: absolute;
    left: 0;
    top: 20%;
    opacity: 100%;
    width: 100%;
    font-size: 2.0em;

}

#popup_subtitle{
    position: absolute;
    left: 0;
    top: 45%;
    line-height: 1.5;
    width: 100%;
    text-align: center;
    font-size: 1em;
    line-height: 2.5;

}

#popup_subtitle img {

    width: auto;
    height: 20px;
}


#popup_background {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
}

#monitor_area {
    /* temporary hiden */
    /*display: none;*/

    width: 7vw;
    height: 10vh;
    position: absolute;
    right: 7vw;
    top: 200px;

    
}

.monitor {
    border: 2px dotted grey;
    display: flex;
    flex-direction: column;
}

.monitor span {
    text-align: center;
    border: 1px solid black;
    height: 20px;
    padding: 5px;
}

.monitor #score_board {
    text-align: center;
}

#playground_area {
    display: flex;
    justify-content: center;
    border: 0.5px solid black;
    border-collapse: collapse;
    margin: 1vh auto;
}
